<!-- // HEAD ELEMENT START // -->
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>National Careers Service - Explore</title>
     <link rel="stylesheet" href="../../production/css/prototype-V1.css" />

     <!-- ///////// Chris Prototyping Kit - START ///////// -->
     <script src="../../js/prototype-V1/jquery.min.js"></script>
     <!-- ///////// Chris Prototyping Kit - END ///////// -->

</head>
<!-- // HEAD ELEMENT END // -->
